alabaster==0.7.13
Babel==2.12.1
bcrypt==4.0.1
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
dnspython==2.3.0
docutils==0.20.1
email-validator==2.0.0.post2
Flask==2.3.2
Flask-Bcrypt==1.0.1
flask-googlemaps==0.4.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
ghp-import==2.1.0
googlemaps==4.10.0
greenlet==2.0.2
htmlmin==0.1.12
idna==3.4
imagesize==1.4.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
Markdown==3.3.7
MarkupSafe==2.1.2
mergedeep==1.3.4
mkdocs==1.4.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.1.1
mkdocs-minify-plugin==0.3.0
mysqlclient==2.1.1
packaging==23.1
Pygments==2.15.1
pymdown-extensions==10.0.1
python-dateutil==2.8.2
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.15
typing_extensions==4.6.0
urllib3==2.0.2
watchdog==3.0.0
Werkzeug==2.3.4
WTForms==3.0.1
