/* colors.css */

:root {
  /* Primary Colors */
  --secondary-background-color:#b0b0fa ;
  --primary-background-color:#6161b1;

  --neutral-color:rgb(190, 187, 187);

  --primary-text-color: #131212;
  --secondary-text-color:rgb(252, 248, 248);

  --primary-form-color:#b0b0fa;
  --secondary-form-color:rgba(75, 108, 218, 0.849);
  --other-form-color:rgb(148, 62, 80);
  
  --alert-color:red;

  /* Link Colors */
  --secondary-link-color: rgb(77, 23, 34);
  --secondary-link-hover-background-color: #3f0101;
  --secondary-link-hover-color: #350000;
  --secondary-link-active-background-color: #c21f2c;
  --secondary-link-active-color: #3d0202;

  --link-color: rgba(75, 108, 218, 0.849);
  --link-text-color:rgb(39, 2, 107);
  --link-hover-background-color: #6879c5;
  --link-hover-color: #012188;
  --link-active-background-color: #01164e;
  --link-active-color: #6c63f1;

  
  --primary-border-color:#6161b1;
  --secondary-border-color:#b0b0fa;
  
}
