/* colors.css */

:root {
  /* Primary Colors */
  --primary-background-color:#060138 ;
  --primary-text-color: #f2f2f2;
  --secondary-background-color:black;
  --secondary-text-color:black;

  /* Link Colors */
  --link-color: rgb(77, 23, 34);
  --link-hover-background-color: #3f0101;
  --link-hover-color: #350000;
  --link-active-background-color: #c21f2c;
  --link-active-color: #3d0202;

  --secondary-border-color:rgb(5, 5, 139);
  --primary-border-color:black;
  
}
