
.index0 {
  height: 90vh;
  width: 100%;
  background-color: var(--primary-background-color);
  position: relative;
  margin-top: 0;
  border-top: none;
  border: 1px solid var(--primary-border-color); 
  
}

.index2 {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-background-color);
  position: relative;
  margin-top: 1%;
  border: 1px solid var(--primary-border-color); 
}

.index3 {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-background-color);
  position: relative;
  margin-top: 1%;
  border: 1px solid var(--primary-border-color); 
  margin-bottom: 1%;
}
.container {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0%; /* Adjust the left value as needed */
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-border-color);
  
}

.a {
  position: absolute;
  bottom: 20%; /* Adjust the bottom value as needed */
  left: 30%; /* Adjust the left value as needed */
}




@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    height: 80%;
    position: absolute;
    left: 5%; /* Adjust the left value as needed */
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-textcolor);
    color: var(--secondary-text-color);
    border: 1px solid var(--secondary-border-color);
  }
  
}