.profile{
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-color);
    background-color: var(--primary-text-color);
    justify-content: space-evenly;
    margin-top: 5%;
    align-items: center;
    width: 40%;
    height: 60vh;
    border: 1px solid var(--secondary-border-color);
    position: relative;
    left: 30%;
}
@media screen and (max-width: 600px) {
    .profile{
        display: flex;
        flex-direction: column;
        color: var(--secondary-text-color);
        background-color: var(--primary-text-color);
        justify-content: space-evenly;
        margin-top: 10%;
        align-items: center;
        width: 80%;
        height: 70vh;
        border: 1px solid var(--secondary-border-color);
        left: 10%;
    }
    
  }