{% extends 'admin.html' %}
{% block title %}
<h2>Transaction Details</h2>
{% endblock %}
{% block content %}
<div class="earnings">
<p class="output">Total earning :{{total}}</p>
<p class="output">Pending earning : {{pending}}</p>
</div>

<form class="date_filter" action="/admin/transactions" method="post" id="date_options">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div>
  <label for="date">Date</label>
  <input type="date" name="date" id="date">
  <button name="button_name" value="date_filter">Filter By date</button>
</div>
  <div>
  <label for="date">Month</label>
  <select name="month" id="month">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>
  
  <button name="button_name" value="month_filter">Filter By Month</button>
</div>
  <div>
  <label for="year">Enter Year</label>
  <select name="year" id="year" type="number">
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    
  </select>
  <button name="button_name" value="year_filter" >Filter By Year</button>
</div>

<div>
  <button name="button_name" value="week_filter">Last 1 week</button>
</div>
</form>




<form class="sidebar" method="post" action="/admin/transactions" id="filter_options">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="text" name="entity" id="entity">
  <button name="button_name" value="search">Search</button>
  <button name="button_name" value="all">All Details</button>
    <button name="button_name" value="id">Transaction ID</button>
    <button name="button_name" value="user_name">User Name</button>
    <button name="button_name" value="amount">Amount </button>
    <button name="button_name" value="rating">Rating </button>
    <button name="button_name" value="date">Date </button>
    <button name="button_name" value="paid_at">Time </button>
    <button name="button_name" value="payment_type">Paid With </button>
    <button name="button_name" value="vehicle_id">Vehicle No Plate </button>
    <button name="button_name" value="status">Transaction Status </button>
    <button name="button_name" value="card_number">Card/Phone Number </button>
  
    
                                                       
          
</form>
{% if data is none %}
<p>No transactions have been made</p>
{% elif data is iterable and data|length >0 %}
{% if query=='all' %}

{% for entry in data %}

<form action="/admin/transactions" method="post" class='data'>
    <label for="">Booking ID</label>
    <p class="output">{{entry.id}}</p>
    <label for="">User Name</label>
    <p class="output">{{entry.user_name}}</p>
    <label for="">Amount </label>
    <p class="output">{{entry.amount}}</p>
    <label for="">Address</label>
    <p class="output">{{entry.rating}}</p>
    <label for="">Date</label>
    <p class="output">{{entry.paid_at}}</p>
    <label for="">Time</label>
    <p class="output">{{entry.time}}</p>
    <label for="">Paid With</label>
    <p class="output">{{entry.payment_type}}</p>
    <label for="">Vehicle No Plate </label>
    <p class="output">{{entry.vehicle_id}}</p>
    <label for="">Transaction Status </label>
    <p class="output">{{entry.status}}</p>
    <label for="">Booking Type </label>
    <p class="output">{{entry.card_number}}</p>
    

    
    </form>
    
  
{% endfor %}
{% elif query=='search' %}


<form action="/admin/transactions" method="post" class='data'>
    <label for="">Booking ID</label>
    <p class="output">{{entry.id}}</p>
    <label for="">User Name</label>
    <p class="output">{{entry.user_name}}</p>
    <label for="">Amount </label>
    <p class="output">{{entry.amount}}</p>
    <label for="">Address</label>
    <p class="output">{{entry.rating}}</p>
    <label for="">Date</label>
    <p class="output">{{entry.paid_at}}</p>
    <label for="">Time</label>
    <p class="output">{{entry.time}}</p>
    <label for="">Paid With</label>
    <p class="output">{{entry.payment_type}}</p>
    <label for="">Vehicle No Plate </label>
    <p class="output">{{entry.vehicle_id}}</p>
    <label for="">Transaction Status </label>
    <p class="output">{{entry.status}}</p>
    <label for="">Booking Type </label>
    <p class="output">{{entry.card_number}}</p>
    

    
    </form>
    
  


{% elif query=='id' %}
{% for entry in data %}
<form action="/admin/transactions"method="post" class='data'>
    <label for="id"></label>
    <p class="output">{{entry.id}}</p>
    <label for=""></label>
    <p class="output">{{entry.status}}</p>
  </form>
{% endfor %}
{% elif query=='user_name' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.id}}</p>
    <label for="user_name">User Name</label>
    <p class="output">{{entry.user_name}}</p>
  </form>
{% endfor %}
{% elif query=='amount' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.id}}</p>
    <label for="amount">Amount </label>
    <p class="output">{{entry.amount}}</p>
  </form>
{% endfor %}
{% elif query=='rating' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.id}}</p>
    <label for=""></label>
    <p class="output">{{entry.rating}}</p>
  </form>
{% endfor %}
{% elif query=='date' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.id}}</p>
    <label for="">Date</label>
    <p class="output">{{entry.paid_at}}</p>
  </form>
{% endfor %}
{% elif query=='paid_at' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.id}}</p>
    <label for="">Time</label>
    <p class="output">{{entry.time}}</p>
  </form>
{% endfor %}
{% elif query=='payment_type' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.id}}</p>
    <label for="">Paid With</label>
    <p class="output">{{entry.payment_type}}</p>
  </form>
{% endfor %}
{% elif query=='vehicle_id' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.id}}</p>
    <label for="">Vehicle No Plate </label>
    <p class="output">{{entry.vehicle_id}}</p>
  </form>
{% endfor %}
{% elif query=='status' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.id}}</p>
    <label for="">Transaction Status </label>
    <p class="output">{{entry.status}}</p>
  </form>
{% endfor %}
{% elif query=='card_number' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.id}}</p>
    <label for="">Booking Type </label>
    <p class="output">{{entry.card_number}}</p>
  </form>
{% endfor %}
{% elif query=='month_filter' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for="">Booking ID</label>
    <p class="output">{{entry.id}}</p>
    <label for="">User Name</label>
    <p class="output">{{entry.user_name}}</p>
    <label for="">Amount </label>
    <p class="output">{{entry.amount}}</p>
    <label for="">Address</label>
    <p class="output">{{entry.rating}}</p>
    <label for="">Date</label>
    <p class="output">{{entry.paid_at}}</p>
    <label for="">Time</label>
    <p class="output">{{entry.time}}</p>
    <label for="">Paid With</label>
    <p class="output">{{entry.payment_type}}</p>
    <label for="">Vehicle No Plate </label>
    <p class="output">{{entry.vehicle_id}}</p>
    <label for="">Transaction Status </label>
    <p class="output">{{entry.status}}</p>
    <label for="">Booking Type </label>
    <p class="output">{{entry.card_number}}</p>
    

    
    </form>
{% endfor %}
{% elif query=='year_filter' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for="">Booking ID</label>
    <p class="output">{{entry.id}}</p>
    <label for="">User Name</label>
    <p class="output">{{entry.user_name}}</p>
    <label for="">Amount </label>
    <p class="output">{{entry.amount}}</p>
    <label for="">Address</label>
    <p class="output">{{entry.rating}}</p>
    <label for="">Date</label>
    <p class="output">{{entry.paid_at}}</p>
    <label for="">Time</label>
    <p class="output">{{entry.time}}</p>
    <label for="">Paid With</label>
    <p class="output">{{entry.payment_type}}</p>
    <label for="">Vehicle No Plate </label>
    <p class="output">{{entry.vehicle_id}}</p>
    <label for="">Transaction Status </label>
    <p class="output">{{entry.status}}</p>
    <label for="">Booking Type </label>
    <p class="output">{{entry.card_number}}</p>
    

    
    </form>
{% endfor %}
{% elif query=='date_filter' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for="">Booking ID</label>
    <p class="output">{{entry.id}}</p>
    <label for="">User Name</label>
    <p class="output">{{entry.user_name}}</p>
    <label for="">Amount </label>
    <p class="output">{{entry.amount}}</p>
    <label for="">Address</label>
    <p class="output">{{entry.rating}}</p>
    <label for="">Date</label>
    <p class="output">{{entry.paid_at}}</p>
    <label for="">Time</label>
    <p class="output">{{entry.time}}</p>
    <label for="">Paid With</label>
    <p class="output">{{entry.payment_type}}</p>
    <label for="">Vehicle No Plate </label>
    <p class="output">{{entry.vehicle_id}}</p>
    <label for="">Transaction Status </label>
    <p class="output">{{entry.status}}</p>
    <label for="">Booking Type </label>
    <p class="output">{{entry.card_number}}</p>
    

    
    </form>
{% endfor %}
{% elif query=='week_filter' %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for="">Booking ID</label>
    <p class="output">{{entry.id}}</p>
    <label for="">User Name</label>
    <p class="output">{{entry.user_name}}</p>
    <label for="">Amount </label>
    <p class="output">{{entry.amount}}</p>
    <label for="">Address</label>
    <p class="output">{{entry.rating}}</p>
    <label for="">Date</label>
    <p class="output">{{entry.paid_at}}</p>
    <label for="">Time</label>
    <p class="output">{{entry.time}}</p>
    <label for="">Paid With</label>
    <p class="output">{{entry.payment_type}}</p>
    <label for="">Vehicle No Plate </label>
    <p class="output">{{entry.vehicle_id}}</p>
    <label for="">Transaction Status </label>
    <p class="output">{{entry.status}}</p>
    <label for="">Booking Type </label>
    <p class="output">{{entry.card_number}}</p>
    

    
    </form>
{% endfor %}

{% else %}
{% for entry in data %}
<form action="/admin/transactions" method="post" class='data'>
    <label for="">Booking ID</label>
    <p class="output">{{entry.id}}</p>
    <label for="">User Name</label>
    <p class="output">{{entry.user_name}}</p>
    <label for="">Amount </label>
    <p class="output">{{entry.amount}}</p>
    <label for="">Address</label>
    <p class="output">{{entry.rating}}</p>
    <label for="">Date</label>
    <p class="output">{{entry.paid_at}}</p>
    <label for="">Time</label>
    <p class="output">{{entry.time}}</p>
    <label for="">Paid With</label>
    <p class="output">{{entry.payment_type}}</p>
    <label for="">Vehicle No Plate </label>
    <p class="output">{{entry.vehicle_id}}</p>
    <label for="">Transaction Status </label>
    <p class="output">{{entry.status}}</p>
    <label for="">Booking Type </label>
    <p class="output">{{entry.card_number}}</p>
   
    
 
    </form>
{% endfor %}
{% endif %}
{% else %}
<p>No transactions have been made</p>
{% endif %}

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/sidebar.css')}}">
{% endblock %}