{% extends 'admin.html' %}
{% block title %}


<h2>Route Details</h2>
{% endblock %}
{% block content %}

<form class="date_filter" action="/admin/routes" method="post" id="date_options">
  {% if error %}
<p class="output">{{error}}</p>
{% endif %} 
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label for="">Route No</label>
  <input type="number" name="route_no" id="">
  <label for="">Route Distance</label>
  <input type="text" name="distance" id="">
  <button type="submit" name="button_name" value="register">Add Route</button>
  
  <label for="">Stage name</label>
  <input type="text" name="stage_name" id="">

  
    <button type="submit" name="button_name" value="add_stage">Add Stage</button>
</form>


<form class="sidebar" method="post" action="/admin/routes" id="filter_options">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="text" name="entity" id="entity">
  <button name="button_name" value="search">Search</button>

  <label for="">Summary Options</label>
  <select name="button_name" >
  <option value="all">All Details</option>
    <option value="id">Route No</option>
    <option value="route_distance">Route Distance</option>
    <option value="stages">Stages</option>
  </select>
   
    
    <button type="submit">Summary</button>                  
          
</form>

<form action="" class="table">
  <label for="">SmartTravel/Routes</label>
{% if data is none %}
<p>No routes are registered</p>
{% elif data is iterable and data|length >0 %}

{% if query=='all' %}

<table name="table"  border="1">
  <tr>
      <th>Route No</th>
      <th>Route Distance</th>
      <th>Stages</th>
  </tr>
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.route_distance }}</td>
      <td>
          {% for stage in entry.stages %}
          <p>{{ stage.stage_name }}, {{ stage.latitude }}:{{ stage.longitude }}</p>
          {% endfor %}
      </td>
  </tr>
  {% endfor %}
</table>

{% elif query=='search' %}



<table name="table"  border="1">
  <tr>
      <th>Route No</th>
      <th>Route Distance</th>
      <th>Stages</th>
  </tr>
 
  <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.route_distance }}</td>
      <td>
          {% for stage in entry.stages %}
          <p>{{ stage.stage_name }}, {{ stage.latitude }}:{{ stage.longitude }}</p>
          {% endfor %}
      </td>
  </tr>
  
</table>

{% elif query=='id' %}
<table name="table"  border="1">
  <tr>
    <th>Route No</th>
    <th>Route Distance</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.route_distane }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='route_distane' %}
<table name="table"  border="1">
  <tr>
    <th>Route No</th>
    <th>Route Distance</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.route_distane }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='stages' %}
<table name="table"  border="1">
  <tr>
    <th>Route No</th>
    <th>Stages</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>
      {% for stage in entry.stages %}
      {{ stage.stage_name }},{{ stage.latitude }}:{{ stage.longitude }}<br>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>



{% else %}
<table name="table"  border="1">
  <tr>
      <th>Route No</th>
      <th>Route Distance</th>
      <th>Stages</th>
  </tr>
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.route_distance }}</td>
      <td>
          {% for stage in entry.stages %}
          <p>{{ stage.stage_name }}, {{ stage.latitude }}:{{ stage.longitude }}</p>
          {% endfor %}
      </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% else %}
<p>no routes registered</p>
{% endif %}

</form>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/sidebar.css')}}">



{% endblock %}