<!DOCTYPE html>
<html>
<head>
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartTravel</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/forms.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/top-nav.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/colors.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/links.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/sign_up.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
   
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href="{{url_for('admin.admin')}}" class="active">Smart Travel</a>

    <a href="{{url_for('admin.vehicles')}}" >Vehicles</a>
    

     <a href="{{url_for('admin.users')}}">Users</a>
     <a href="{{url_for('admin.riders')}}">RIders</a>
     
     <a href="{{url_for('admin.drivers')}}">Drivers</a>

      

      <a href="{{url_for('admin.owners')}}">Owners</a>
      <a href="{{url_for('admin.bookings')}}">Bookings</a>
    
    <a href="{{url_for('admin.transactions')}}">Transactions</a>
    <a href="{{url_for('admin.routes')}}">Routes</a>
    <a href="{{url_for('admin.stages')}}">Stages</a>
    
    <a href="{{url_for('login.logout')}}">Log Out</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
 
    
      <header>
        
      Admin
           </header>
           <main>
            
            {% block content %}
            
            {% endblock %}
</main>
<footer>
        
</footer>

   
    
    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
      
      <script>
        function validateYear() {
          var currentYear = new Date().getFullYear();
          var yearInput = document.getElementById("year").value;
      
          if (!yearInput > 2000 | !yearInput < currentYear) {
            // Valid input
            console.log('valid');
          } else {
            // Invalid input
            alert("Please enter a year greater than 2000 and less than the current year.");
          }
        }
      </script>
       
</body>
</html>