<!DOCTYPE html>
<html>
<head>
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartTravel</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/forms.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/top-nav.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/colors.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/links.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/sign_up.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename='js/save_all.js')}}"></script>
    
   
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href="{{url_for('admin.admin')}}" class="active">Smart Travel</a>

    <a href="{{url_for('admin.vehicles')}}" >Vehicles</a>
    

     <a href="{{url_for('admin.users')}}">Users</a>
     <a href="{{url_for('admin.riders')}}">RIders</a>
     
     <a href="{{url_for('admin.drivers')}}">Drivers</a>

      

      <a href="{{url_for('admin.owners')}}">Owners</a>
      <a href="{{url_for('admin.bookings')}}">Bookings</a>
    
    <a href="{{url_for('admin.transactions')}}">Transactions</a>
    <a href="{{url_for('admin.routes')}}">Routes</a>
    <a href="{{url_for('admin.stages')}}">Stages</a>
    
    <a href="{{url_for('login.logout')}}">Log Out</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
 
    
      <header>
        
          
<p>
      Admin</p>
      
    
      
      
           </header>
           <main>
            <button onclick="hideDates()" id="date_hide">Date Options</button>
            
            <button onclick="downloadPDF()" id="download">Download</button>
            
            {% block content %}
            
            {% endblock %}
</main>
<footer>
        
</footer>

   
    
    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
      
      <script>
        function downloadPDF() {
          var data = document.getElementsByClassName('table'); // get all elements with class='data'
          var doc = new jsPDF();
          
          var options = {
            fontSize: 5 // Set the font size to 10
          };
          
          for (var i = 0; i < data.length; i++) { // loop through each element
            if (i > 0) {
              doc.addPage(); // add a new page for each element after the first one
            }
            doc.fromHTML(data[i].innerHTML, 15, 15, { ...options }); // add the element's content to the PDF with specified options
          }
          
          var currentURL = window.location.href; // get the current URL
          var title = currentURL.split('/').pop(); // extract the last part of the URL as the title
          var otherTitle = 'SmartTravel';
          doc.save(otherTitle + '-' + title + '.pdf');
        }
      </script>
      
        

        
        <script>

          function hideDates() {
            var elem = document.getElementById("date_options");
            if (elem.classList.contains("date_filter")) {
              elem.classList.remove("date_filter");
              elem.classList.add("date_hide");
            } else {
              elem.classList.remove("date_hide");
              elem.classList.add("date_filter");
            }
          }
          
                  </script>
        
</body>
</html>