{% extends 'admin.html' %}
{% block title %}
<h2>Stage Details</h2>
{% endblock %}
{% block content %}

<form class="date_filter" action="/admin/stages" method="post" id="date_options">
 
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label for="">Latitue</label>
  <input type="text" name="latitude" id="">
  <label for="">Longitude</label>
  <input type="text" name="longitude" id="">
  <label for="">Stage name</label>
  <input type="text" name="stage_name" id="">
  <label for="">Stage Description</label>
  <input type="text" name="stage_description" id="">
  
    <button type="submit" name="button_name" value="register">Add</button>
</form>



<form class="sidebar" method="post" action="/admin/stages" id="filter_options">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="text" name="entity" id="entity">
  <button name="button_name" value="search">Search</button>

  <label for="">Summary Options</label>
  <select name="button_name" >
    <option value="all">All Details</option>
    <option value="latitude">Latitude</option>
    <option value="longitude">Longitude</option>
    <option value="stage_name">Stage Name</option>
  </select>
   
    
    <button type="submit">Summary</button>  
    
   
    
                                                       
          
</form>

<form action="">
  <label for="">SmartTravel/Stages</label>
{% if data is none %}
<p>No stages are registered</p>
{% elif data is iterable and data|length >0 %}
{% if query=='all' %}

<table name="table"  border="1" class="table">
  <tr>
    <th>Stage No</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Stage Name</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.stage_no }}</td>
    <td>{{ entry.latitude }}</td>
    <td>{{ entry.longitude }}</td>
    <td>{{ entry.stage_name }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='search' %}



<table name="table"  border="1">
  <tr>
    <th>Stage No</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Stage Name</th>
  </tr>
  
  <tr>
    <td>{{ entry.stage_no }}</td>
    <td>{{ entry.latitude }}</td>
    <td>{{ entry.longitude }}</td>
    <td>{{ entry.stage_name }}</td>
  </tr>
  
</table>


{% elif query=='stage_name' %}
<table name="table"  border="1">
  <tr>
    <th>Stage No</th>
    <th>Stage Name</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.stage_no }}</td>
    <td>{{ entry.stage_name }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='latitude' %}
<table name="table"  border="1">
  <tr>
    <th>Stage No</th>
    <th>Latitude</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.stage_no }}</td>
    <td>{{ entry.latitude }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='longitude' %}
<table name="table"  border="1">
  <tr>
    <th>Stage No</th>
    <th>Longitude</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.stage_no }}</td>
    <td>{{ entry.longitude }}</td>
  </tr>
  {% endfor %}
</table>



{% else %}
<table name="table"  border="1">
  <tr>
    <th>Stage No</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Stage Name</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.stage_no }}</td>
    <td>{{ entry.latitude }}</td>
    <td>{{ entry.longitude }}</td>
    <td>{{ entry.stage_name }}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}
{% else %}
<p>no stages registered</p>
{% endif %}

</form>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/sidebar.css')}}">
{% endblock %}