{% extends 'admin.html' %}
{% block title %}
<h2>Transaction Details</h2>
{% endblock %}
{% block content %}


<form class="date_filter" action="/admin/transactions" method="post" id="date_options">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div>
  <label for="date">Date</label>
  <input type="date" name="date" id="date">
  <button name="button_name" value="date_filter">Filter By date</button>
</div>
  <div>
  <label for="date">Month</label>
  <select name="month" id="month">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>
  
  <button name="button_name" value="month_filter">Filter By Month</button>
</div>
  <div>
  <label for="year">Enter Year</label>
  <select name="year" id="year" type="number">
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    
  </select>
  <button name="button_name" value="year_filter" >Filter By Year</button>
</div>

<div>
  <button name="button_name" value="week_filter">Last 1 week</button>
</div>
</form>




<form class="sidebar" method="post" action="/admin/transactions" id="filter_options">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="text" name="entity" id="entity">
  <button name="button_name" value="search">Search</button>
  
  <label for="">Summary Options</label>
  <select name="button_name" >
    <option value="all">All Details</option>
    <option value="id">Transaction ID</option>
    <option value="user_name">User Name</option>
    <option value="amount">Amount</option>
    <option value="rating">Rating</option>
    <option value="date">Date</option>
    <option value="paid_at">Time</option>
    <option value="payment_type">Paid With</option>
    <option value="vehicle_id">Vehicle No Plate</option>
    <option value="status">Transaction Status</option>
    <option value="card_number">Card/Phone Number</option>
  </select>
   
    
    <button type="submit">Summary</button> 
  
    
                                                       
          
</form>

<form action="" class="table">
  <label for="">SmartTravel/Transactions</label>

  <div class="earnings">
    <p class="output">Total earning :{{total}}</p>
    <p class="output">Pending earning : {{pending}}</p>
    
    </div>

{% if data is none %}
<p>No transactions have been made</p>
{% elif data is iterable and data|length >0 %}
{% if query=='all' %}


<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>User Name</th>
    <th>Amount</th>
    <th>Address</th>
    <th>Date</th>
    <th>Time</th>
    <th>Paid With</th>
    <th>Vehicle No Plate</th>
    <th>Transaction Status</th>
    <th>Booking Type</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.user_name }}</td>
    <td>{{ entry.amount }}</td>
    <td>{{ entry.rating }}</td>
    <td>{{ entry.paid_at }}</td>
    <td>{{ entry.time }}</td>
    <td>{{ entry.payment_type }}</td>
    <td>{{ entry.vehicle_id }}</td>
    <td>{{ entry.status }}</td>
    <td>{{ entry.card_number }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='search' %}

<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>User Name</th>
    <th>Amount</th>
    <th>Address</th>
    <th>Date</th>
    <th>Time</th>
    <th>Paid With</th>
    <th>Vehicle No Plate</th>
    <th>Transaction Status</th>
    <th>Booking Type</th>
  </tr>
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.user_name }}</td>
    <td>{{ entry.amount }}</td>
    <td>{{ entry.rating }}</td>
    <td>{{ entry.paid_at }}</td>
    <td>{{ entry.time }}</td>
    <td>{{ entry.payment_type }}</td>
    <td>{{ entry.vehicle_id }}</td>
    <td>{{ entry.status }}</td>
    <td>{{ entry.card_number }}</td>
  </tr>

</table>


{% elif query=='id' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>Transaction Status</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.status }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='user_name' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>User Name</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.user_name }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='amount' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>Amount</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.amount }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='rating' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>Rating</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.rating }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='date' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>Date</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.paid_at }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='paid_at' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>Time</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.time }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='payment_type' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>Paid With</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.payment_type }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='vehicle_id' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>Vehicle No Plate</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.vehicle_id }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='status' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>Transaction Status</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.status }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='card_number' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>Booking Type</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.card_number }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='month_filter' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>User Name</th>
    <th>Amount</th>
    <th>Address</th>
    <th>Date</th>
    <th>Time</th>
    <th>Paid With</th>
    <th>Vehicle No Plate</th>
    <th>Transaction Status</th>
    <th>Booking Type</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.user_name }}</td>
    <td>{{ entry.amount }}</td>
    <td>{{ entry.rating }}</td>
    <td>{{ entry.paid_at }}</td>
    <td>{{ entry.time }}</td>
    <td>{{ entry.payment_type }}</td>
    <td>{{ entry.vehicle_id }}</td>
    <td>{{ entry.status }}</td>
    <td>{{ entry.card_number }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='year_filter' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>User Name</th>
    <th>Amount</th>
    <th>Address</th>
    <th>Date</th>
    <th>Time</th>
    <th>Paid With</th>
    <th>Vehicle No Plate</th>
    <th>Transaction Status</th>
    <th>Booking Type</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.user_name }}</td>
    <td>{{ entry.amount }}</td>
    <td>{{ entry.rating }}</td>
    <td>{{ entry.paid_at }}</td>
    <td>{{ entry.time }}</td>
    <td>{{ entry.payment_type }}</td>
    <td>{{ entry.vehicle_id }}</td>
    <td>{{ entry.status }}</td>
    <td>{{ entry.card_number }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='date_filter' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>User Name</th>
    <th>Amount</th>
    <th>Address</th>
    <th>Date</th>
    <th>Time</th>
    <th>Paid With</th>
    <th>Vehicle No Plate</th>
    <th>Transaction Status</th>
    <th>Booking Type</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.user_name }}</td>
    <td>{{ entry.amount }}</td>
    <td>{{ entry.rating }}</td>
    <td>{{ entry.paid_at }}</td>
    <td>{{ entry.time }}</td>
    <td>{{ entry.payment_type }}</td>
    <td>{{ entry.vehicle_id }}</td>
    <td>{{ entry.status }}</td>
    <td>{{ entry.card_number }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='week_filter' %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>User Name</th>
    <th>Amount</th>
    <th>Address</th>
    <th>Date</th>
    <th>Time</th>
    <th>Paid With</th>
    <th>Vehicle No Plate</th>
    <th>Transaction Status</th>
    <th>Booking Type</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.user_name }}</td>
    <td>{{ entry.amount }}</td>
    <td>{{ entry.rating }}</td>
    <td>{{ entry.paid_at }}</td>
    <td>{{ entry.time }}</td>
    <td>{{ entry.payment_type }}</td>
    <td>{{ entry.vehicle_id }}</td>
    <td>{{ entry.status }}</td>
    <td>{{ entry.card_number }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
<table name="table"  border="1">
  <tr>
    <th>Booking ID</th>
    <th>User Name</th>
    <th>Amount</th>
    <th>Address</th>
    <th>Date</th>
    <th>Time</th>
    <th>Paid With</th>
    <th>Vehicle No Plate</th>
    <th>Transaction Status</th>
    <th>Booking Type</th>
  </tr>
  {% for entry in data %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.user_name }}</td>
    <td>{{ entry.amount }}</td>
    <td>{{ entry.rating }}</td>
    <td>{{ entry.paid_at }}</td>
    <td>{{ entry.time }}</td>
    <td>{{ entry.payment_type }}</td>
    <td>{{ entry.vehicle_id }}</td>
    <td>{{ entry.status }}</td>
    <td>{{ entry.card_number }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% else %}
<p>No transactions have been made</p>
{% endif %}

</form>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/sidebar.css')}}">
{% endblock %}