{% extends 'admin.html' %}
{% block title %}
<h2>Driver Details</h2>
{% endblock %}
{% block content %}
<form class="date_filter" action="/admin/users" method="post" id="date_options">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div>
  <label for="date">Date</label>
  <input type="date" name="date" id="date">
  <button name="button_name" value="date_filter">Filter By date</button>
</div>
  <div>
  <label for="date">Month</label>
  <select name="month" id="month">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>
  
  <button name="button_name" value="month_filter">Filter By Month</button>
</div>
  <div>
  <label for="year">Enter Year</label>
  <select name="year" id="year" type="number">
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    
  </select>
  <button name="button_name" value="year_filter" >Filter By Year</button>
</div>

<div>
  <button name="button_name" value="week_filter">Last 1 week</button>
</div>
</form>






<form class="sidebar" method="post" action="/admin/drivers" id="filter_options">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="text" name="entity" id="entity">
  <button name="button_name" value="search">Search</button>
  
  <label for="">Summary Options</label>
  <select name="button_name" >
    <option value="all">All Details</option>
    <option value="user_name">User Name</option>
    <option value="email">Email</option>
    <option value="phone">Phone Number</option>
    <option value="address">Address</option>
    <option value="date_registered">Date registered</option>
    <option value="licence_no">License No</option>
    <option value="vehicle_no">Vehicle No Plate</option>
  </select>

    <button type="submit">Summary</button>
   
    
                                                       
          
</form>

<form action="" class="table">
  <label for="">SmartTravel/Drivers</label>
{% if users is none %}
<p>No riders are registered</p>
{% elif users is iterable and users|length >0 %}
{% if query=='all' %}

<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Date Registered</th>
      <th>Licence No</th>
      <th>Vehicle No Plate</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.date_registered }}</td>
      <td>{{ user.driver_details.licence_no }}</td>
      <td>{{ user.driver_details.drives.no_plate }}</td>
  </tr>
  {% endfor %}
</table>


{% elif query=='role' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Role</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.role }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='email' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Email</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.email }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='phone' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Phone Number</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.phone }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='address' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Address</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.address }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='date_registered' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Date Registered</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.date_registered }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='licence_no' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Licence No</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.driver_details.licence_no }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='vehicle_no' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Vehicle</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.driver_details.drives.no_plate }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='month_filter' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Date Registered</th>
      <th>Licence No</th>
      <th>Vehicle No Plate</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.date_registered }}</td>
      <td>{{ user.driver_details.licence_no }}</td>
      <td>{{ user.driver_details.drives.no_plate }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='date_filter' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Date Registered</th>
      <th>Licence No</th>
      <th>Vehicle No Plate</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.date_registered }}</td>
      <td>{{ user.driver_details.licence_no }}</td>
      <td>{{ user.driver_details.drives.no_plate }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='search' %}


<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Date Registered</th>
      <th>Licence No</th>
      <th>Vehicle No Plate</th>
  </tr>
  
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.date_registered }}</td>
      <td>{{ user.driver_details.licence_no }}</td>
      <td>{{ user.driver_details.drives.no_plate }}</td>
  </tr>
  
</table>
{% elif query=='year_filter' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Date Registered</th>
      <th>Licence No</th>
      <th>Vehicle No Plate</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.date_registered }}</td>
      <td>{{ user.driver_details.licence_no }}</td>
      <td>{{ user.driver_details.drives.no_plate }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='week_filter' %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Date Registered</th>
      <th>Licence No</th>
      <th>Vehicle No Plate</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.date_registered }}</td>
      <td>{{ user.driver_details.licence_no }}</td>
      <td>{{ user.driver_details.drives.no_plate }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
<table name="table"  border="1">
  <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Date Registered</th>
      <th>Licence No</th>
      <th>Vehicle No Plate</th>
  </tr>
  {% for user in users %}
  <tr>
      <td>{{ user.user_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.date_registered }}</td>
      <td>{{ user.driver_details.licence_no }}</td>
      <td>{{ user.driver_details.drives.no_plate }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% else %}
<p>no riders registered</p>
{% endif %}

</form>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/sidebar.css')}}">
{% endblock %}