{% extends 'admin.html' %}
{% block title %}
<h2>Stage Details</h2>
{% endblock %}
{% block content %}

<form class="date_filter" action="/admin/stages" method="post" id="date_options">
 
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label for="">Latitue</label>
  <input type="text" name="latitude" id="">
  <label for="">Longitude</label>
  <input type="text" name="longitude" id="">
  <label for="">Stage name</label>
  <input type="text" name="stage_name" id="">
  <label for="">Stage Description</label>
  <input type="text" name="stage_description" id="">
  
    <button type="submit" name="button_name" value="register">Add</button>
</form>



<form class="sidebar" method="post" action="/admin/stages" id="filter_options">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="text" name="entity" id="entity">
  <button name="button_name" value="search">Search</button>

  <button name="button_name" value="all">All Details</button>
    <button name="button_name" value="latitude">Latitude</button>
    <button name="button_name" value="longitude">Longitude</button>
    <button name="button_name" value="stage_name">Stage Name</button>
    
   
    
                                                       
          
</form>
{% if data is none %}
<p>No stages are registered</p>
{% elif data is iterable and data|length >0 %}
{% if query=='all' %}

{% for entry in data %}

<form action="/admin/stages" method="post" class='data'>
    <label for="">Stage No</label>
    <p class="output">{{entry.stage_no}}</p>
    <label for="">Latitude</label>
    <p class="output">{{entry.latitude}}</p>
    <label for="">Longitude</label>
    <p class="output">{{entry.longitude}}</p>
    <label for="">Stage Name</label>
    
    <p class="output">{{entry.stage_name}}</p>
    
    
    
    </form>
    
  
{% endfor %}
{% elif query=='search' %}



<form action="/admin/stages" method="post" class='data'>
    <label for="">Stage No</label>
    <p class="output">{{entry.stage_no}}</p>
    <label for="">Latitude</label>
    <p class="output">{{entry.latitude}}</p>
    <label for="">Longitude</label>
    <p class="output">{{entry.longitude}}</p>
    <label for="">Stage Name</label>
    
    <p class="output">{{entry.stage_name}}</p>
    
    
    
    </form>

{% elif query=='stage_name' %}
{% for entry in data %}
<form action="/admin/stages"method="post" class='data'>
    <label for="stage_no"></label>
    <p class="output">{{entry.stage_no}}</p>
    <label for="">Stage Name</label>
    <p class="output">{{entry.stage_name}}</p>
  </form>
{% endfor %}
{% elif query=='latitude' %}
{% for entry in data %}
<form action="/admin/stages" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.stage_no}}</p>
    <label for="latitude">Latitude</label>
    <p class="output">{{entry.latitude}}</p>
  </form>
{% endfor %}
{% elif query=='longitude' %}
{% for entry in data %}
<form action="/admin/stages" method="post" class='data'>
    <label for=""></label>
    <p class="output">{{entry.stage_no}}</p>
    <label for="stage_name">Longitude</label>
    
    <p class="output">{{entry.longitude}}</p>
    
  </form>
{% endfor %}


{% else %}
{% for entry in data %}
<form action="/admin/stages" method="post" class='data'>
    <label for="">Stage No</label>
    <p class="output">{{entry.stage_no}}</p>
    <label for="">Latitude</label>
    <p class="output">{{entry.latitude}}</p>
    <label for="">Longitude</label>
    <p class="output">{{entry.longitude}}</p>
    <label for="">Stage Name</label>
    
    <p class="output">{{entry.stage_name}}</p>
    
 
    </form>
{% endfor %}
{% endif %}
{% else %}
<p>no stages registered</p>
{% endif %}

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/sidebar.css')}}">
{% endblock %}