<!DOCTYPE html>
<html>
<head>
  <meta name="csrf-token" content="{{ csrf_token() }}">

  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartTravel</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/forms.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/top-nav.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/body.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/colors.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/links.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/sign_up.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_JxBRmUKjcpPLWXwAagTX9k19tIWi2SQ" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename='js/user_location.js')}}"></script>
    

</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href="{{url_for('index.index')}}" class="active">Smart Travel</a>
    
    {% if not current_user.is_authenticated %}
    
    <a href="{{url_for('login.login')}}" >Login</a>
    

    
    
    

    {% else %}

    {% if current_user.check_if_owner() and current_user.check_if_driver() %}
    <a href="{{url_for('profile.vehicle')}}">Vehicle</a>
    <a href="{{url_for('payment.payout')}}">Payout</a>
    <a href="{{url_for('booking.confirm_booking')}}">Ride Requests</a>
     <a href="{{url_for('hire.confirm_booking')}}">Hire Requests</a>
     <a href="{{ url_for('booking.confirm_booking') }}">Booking Notifications</a>
     <a href="{{ url_for('payment.notification') }}">Transaction Notifications</a>
     <a href="{{url_for('profile.profile')}}">Profile</a>
    <a href="{{url_for('map.location')}}">Map</a>
    <a href="{{url_for('report.report')}}">History</a>
    <a href="mailto:oddsthingshere@gmail.com" data-toggle="tooltip" data-placement="bottom" title="contact us">Contact Us</a>
    
    <a href="{{url_for('login.logout')}}">Log Out</a>

    {% elif current_user.check_if_driver() and not current_user.check_if_owner() %}

    
     <a href="{{url_for('booking.confirm_booking')}}">Ride Requests</a>
     <a href="{{url_for('hire.confirm_booking')}}">Hire Requests</a>
     <a href="{{ url_for('booking.confirm_booking') }}">Booking Notifications</a>
     <a href="{{ url_for('payment.notification') }}">Transaction Notifications</a>
     <a href="{{url_for('profile.profile')}}">Profile</a>
    <a href="{{url_for('map.location')}}">Map</a>
    <a href="{{url_for('report.report')}}">History</a>
    <a href="mailto:oddsthingshere@gmail.com" data-toggle="tooltip" data-placement="bottom" title="contact us">Contact Us</a>
    
    <a href="{{url_for('login.logout')}}">Log Out</a>

{% elif not current_user.check_if_driver() and current_user.check_if_owner() %}

<a href="{{url_for('profile.vehicle')}}">Vehicle</a>
    <a href="{{url_for('payment.payout')}}">Payout</a>
<a href="{{ url_for('report.vehicle_bookings') }}">Bookings report</a>
<a href="{{url_for('report.vehicle_transactions')}}">Transactions Report</a>
<a href="{{url_for('profile.profile')}}">Profile</a>
    <a href="{{url_for('map.location')}}">Map</a>
    <a href="{{url_for('report.report')}}">History</a>
    <a href="mailto:oddsthingshere@gmail.com" data-toggle="tooltip" data-placement="bottom" title="contact us">Contact Us</a>
    
    <a href="{{url_for('login.logout')}}">Log Out</a>

{% else %}

      
      
      <a href="{{url_for('booking.select_destination')}}">Get a ride</a>
      <a href="{{url_for('hire.hire')}}">Hire Vehicle</a>
      <a href="{{url_for('booking.wait')}}">Booking Status</a>
      <a href="{{url_for('profile.profile')}}">Profile</a>
    <a href="{{url_for('map.location')}}">Map</a>
    <a href="{{url_for('report.report')}}">History</a>
    <a href="mailto:oddsthingshere@gmail.com" data-toggle="tooltip" data-placement="bottom" title="contact us">Contact Us</a>
    
    <a href="{{url_for('login.logout')}}">Log Out</a>

    {% endif %}
    
    
    
    
  {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
 
    
      <header>
        
        {% block title %}
        
        {% endblock %}
           </header>
           <main>
{% block content %}
{% endblock %}
</main>
<footer>
        
</footer>
   
    
    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
      
         
       
</body>
</html>