<!DOCTYPE html>
<html>
<head>
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartTravel</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/forms.css')}}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_JxBRmUKjcpPLWXwAagTX9k19tIWi2SQ" async defer></script>

      
</head>
<body>
    <header>
 {% block title %}
 {% endblock %}
    </header>
    <main>
{% block content %}
{% endblock %}
    </main>
    <footer>
        
    </footer>
</body>
</html>