{% extends 'base.html' %}
{% block title %}
<h2>Notifications</h2>
{% endblock %}
{% block content %}
{% if details is none %}

<p>no new notifications</p>

{% elif details is iterable and details|length >0 %}
{% for detail in details %} 

{% if not detail.seen %}
<form action="/booking/confirm" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <p>Destination:{{detail.destination}}  <br></p>  
  <p>Pickup_point:{{detail.pickup_point}}</p>
  <input type="hidden" name="id" id="id" value="{{detail.booking_id}}">
  <button type="submit" name="confirmation" value="yes">Accept</button>
  <button type="submit" name="confirmation" value="no">Reject</button>    
  
  </form>
  {% else  %}

  <form action="/booking/confirm" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p>Destination:{{detail.destination}}  <br></p>  
    <p>Pickup_point:{{detail.pickup_point}}</p>
    <input type="hidden" name="id" id="id" value="{{detail.booking_id}}">
      
    <p>{{confirmed_message}}</p>
{% endif %}

{% endfor %}
{% else %}
<p>no notifications</p>
{% endif %}





{% endblock %}