{% extends 'base.html' %}
{% block title %}
<h2>booking</h2>
{% endblock %}
{% block content %}
<form action="booking/bus_options.html">
    <label for="pickup_point">Pickup Point</label>
    <p class="output">{{pickup_point}}</p>
    <label for="destination">Destination</label>
    {{ destination }}
    <label for="duration">Travel Time</label>
    <p class="output">{{travel_time}}</p>
</form>
{% if error %}
{{error}}
{% endif %}
{% if buses is none %}
<p>No buses vailable</p>
{% elif buses is iterable and buses|length >0 %}
{% for bus in buses %}

<form action="/booking/bus_options" method="post" class="bus_options">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="vehicle">Vehicle</label>
    <input type="hidden" name="vehicle" id="vehicle" value="{{ bus.vehicle}} ">
    <p class="output">{{ bus.vehicle}}</p>
    
    <label for="no_of_seats">Select No of seats</label>
    <input type="number" max="5" name="no_of_seats" id="no_of_seats">
    
    <button type="submit">Confirm Booking</button>
</form>

{% endfor %}
{% else %}
<p>no buses to book</p>
{% endif %}

{% endblock %}
