{% extends 'base.html' %}
{% block title %}
<h2>booking</h2>
{% endblock %}
{% block content %}
<form action="/booking/select_vehicle" method="post">
    <label for="vehicle">vehicle</label>
    <p>{{plate}}</p>
    <label for="driver">Driver</label>
    <p>{{driver}}</p>
    <label for="seats">How many seats do you need?</label>
    <input type="number" name="no_of_seats" value="5">

    <label for="destination">destination</label>
    {{destination}}
    <label for="pickup">Picku up point</label>
    {{pickup_point}}

    <button type="submit">Book</button>

</form>
{% endblock %}