{% extends 'base.html' %}
{% block title %}
<a href="{{url_for('booking.select_destination')}}">Get a ride</a>
<a href="{{url_for('profile.rider')}}">Profile</a>
<h2>booking</h2>
{% endblock %}
{% block content %}
<form action="booking/bus_options.html">
    <label for="pickup_point">Pickup Point</label>
    <p>{{pickup_point}}</p>
    <label for="destination">Destination</label>
    {{ destination }}
    <label for="duration">Travel Time</label>
    <p>{{travel_time}}</p>
</form>
{% if error %}
{{error}}
{% endif %}
{% if buses is none %}
<p>No buses vailable</p>
{% elif buses is iterable and buses|length >0 %}
{% for bus in buses %}

<form action="/booking/bus_options" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="vehicle">Vehicle</label>
    <input type="hidden" name="vehicle" id="vehicle" value="{{ bus.vehicle}} ">
    <p>{{ bus.vehicle}}</p>
    <label for="seats">Seats_available</label>
    {{Seats_available}}
    <label for="no_of_seats">No of seats</label>
    <input type="number" max="5" name="no_of_seats" id="no_of_seats">
    <label for="Fare">Fare per person</label>
    <p>{{fare}}</p>
    <button type="submit">Confirm Booking</button>
</form>

{% endfor %}
{% else %}
<p>no buses to book</p>
{% endif %}

{% endblock %}
