{% extends 'base.html' %}
{% block title %}

Select your destination
{% endblock %}
{% block content %}
<style>
  #map {
    height: 60%;
    width: 90%;
  }
</style>
<div class="booking">
  <div id="map" class="column1"></div>
  <div class="column2">
    <form id="select-destination-form" action="/booking/book_taxi" method="post">
      <input type="hidden" name="form-name" value="destination-form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <label for="current_location">Current location</label>
      <p>{{user_location_name}}</p>
      <label for="destination">Destination</label>
      <input type="text" name="destination" id="destination">

      {% if error %}
    <span>{{error}}</span>
    {% endif %}
      <button type="submit">Confirm</button>
    </form>

    <form id="taxi-form" method="post" action="/booking/select_destination">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="form-name" value="taxi-form">
        <p>
          
        {{closest_taxi}}
          
        </p>
      
      <button type="submit"></button>
    
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  
  window.onload = function() {
    // Get the user_location data from the Flask view function
    var user_location = {{ user_location|tojson }};
    console.log(user_location);
    var latitude = parseFloat(user_location.latitude);
    console.log(latitude)
    var longitude = parseFloat(user_location.longitude);
  

    // The location of the place
    var location = { lat: latitude, lng: longitude };
    console.log(location);
    // The map, centered at the location
    var map = new google.maps.Map(
      document.getElementById('map'), { zoom: 12, center: location });
    // The marker, positioned at the location
    var marker = new google.maps.Marker({ position: location, map: map });
  };
</script>
<script>
// Get the two forms with the class 'vehicle'
const vehicleForms = document.querySelectorAll('.vehicle');

// Check if the 'formSubmitted' cookie is set to 'true'
if (document.cookie.includes('formSubmitted=true')) {
  // Show the two forms
  vehicleForms.forEach(form => {
    form.style.display = 'block';
  });
} else {
  // Hide the forms initially
  vehicleForms.forEach(form => {
    form.style.display = 'none';
  });
}

// Get the 'Confirm' button
const confirmButton = document.querySelector('button[type="submit"]');

// Add an event listener to the 'Confirm' button
confirmButton.addEventListener('click', () => {
  // Set the 'formSubmitted' cookie to 'true'
  document.cookie = 'formSubmitted=true';
});

</script>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/booking.css')}}">

{% endblock %}