{% extends 'base.html' %}
{% block title %}
<h2>booking</h2>
{% endblock %}
{% block content %}
<form action="/booking/wait_for_vehicle" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="vehicle">Vehicle</label>
    <p class="output">{{ vehicle_no }}</p>
    
    <label for="destination">Destination</label>
    <p class="output">{{ destination }}</p>
    <label for="pickup">Pickup point</label>
    <p class="output">{{ pickup_point}}</p>
    <label for="wait_time">Wait time</label>
    <p class="output">{{ wait_time}}</p>

    <button type="submit">Cancel booking</button>

    
</form>

<script>
  function checkDestination() {
      fetch('/tracker/destination')
          .then(response => response.text())
          .then(data => {
              if (data === "success") {
                  window.location.href = '/booking/review';
              }
          });
  }

  setInterval(checkDestination, 60000); // Check every 5 seconds
</script>

{% endblock %}
