{% extends 'base.html' %}
{% block title %}
<h2>booking</h2>
{% endblock %}
{% block content %}
<form action="/booking/wait_confirmation" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="booking_id" id="booking_id" value="{{booking_id}}">
    <label for="vehicle">Vehicle</label>
    <p class="output">{{ vehicle_no }}</p>
    <label for="destination">Destination</label>
    <p class="output">{{ destination }}</p>
    <label for="pickup">Pickup point</label>
    <p class="output">{{ pickup_point}}</p>

    <p >{{ waiting_message }}</p>
    <button type="submit" name="confirm" value="check">Check</button>

    <button type="submit" name="confirm" value="cancel">Cancel</button>
    
</form>


<script>

window.setTimeout(function(){
    window.location.reload();
}, 30000);


</script>

{% endblock %}
