{% extends 'base.html' %}
{% block title %}
<h2>booking</h2>
{% endblock %}
{% block content %}
<form action="/booking/wait_confirmation" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="booking_id" id="booking_id" value="{{booking_id}}">
    <label for="vehicle">Vehicle</label>
    <p>{{ vehicle_no }}</p>
    <label for="driver">Driver</label>
    <p>{{ driver }}</p>
    <label for="destination">Destination</label>
    {{ destination }}
    <label for="pickup">Pickup point</label>
    {{ pickup_point[0]}}

    <p>{{ waiting_message }}</p>
    <button type="submit" name="confirm" value="check">Check</button>
    
</form>


<script>

window.setTimeout(function(){
    window.location.reload();
}, 30000);


</script>

{% endblock %}
