{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}


<div class="index0">
    <div class="container">
<a href="{{url_for('booking.select_destination')}}" class="a">All ride Options</a>
<div class="sign_up"> <p><br>Ride</p></div>
</div>
</div>

<div class="index2">
    <div class="container">
<a href="{{url_for('booking.book_taxi')}}" class="a">Taxi</a>
<div class="sign_up"> <p><br>Taxi</p></div>
</div>
</div>

<div class="index3">
    <div class="container">
<a href="{{url_for('booking.book_bus')}}" class="a">Bus</a>
<div class="sign_up"> <p><br>Bus</p></div>
</div>
</div>

<div class="index3">
    <div class="container">
<a href="{{url_for('booking.book_hybrid')}}" class="a">Share</a>
<div class="sign_up"> <p><br>Share</p></div>
</div>
</div>


<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}