{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}


<div class="index0" >
    <div class="container">
      <a href="{{url_for('index.about')}}" class="a">About</a>
      <div class="sign_up"> <p>Discover         <br>SmartTravel</p></div>
    </div>
    
  </div>
  
<div class="index2">
    <div class="container">
<a href="{{url_for('registration.driver_registration')}}" class="a">Register</a>
<div class="sign_up"> <p>Sign         up to<br>Drive</p></div>
</div>

</div>

<div class="index3">
    <div class="container">
<a href="{{url_for('registration.registration')}}" class="a">Register</a>
<div class="sign_up"> <p>Sign         up to<br>Ride</p></div>
</div>

</div>

  
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}