{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}


<div class="index">
    <div class="container">
<a href="{{url_for('registration.register_vehicle')}}" class="a">Register Vehicle</a>
</div>
</div>

<div class="index">
    <div class="container">
<a href="{{url_for('registration.registration')}}" class="a">Register</a>
</div>
</div>

<div class="index">
    <div class="container">
<a href="{{url_for('registration.register_driver')}}" class="a">Register as Driver</a>
</div>
</div>


{% endblock %}