{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}
<div class="home">
<h2>Login</h2>

<form action="login" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="username">Email or username</label>
    <input type="text" name="username" >
    <label for="password">Password</label>
    <input type="password" name="password" >
    
    <button type="submit">Login</button>

    <a href="forgot.html">Forgot Password?</a>
</form>
</div>
{% endblock %}