{% extends 'base.html' %}
{% block title %}
<h2>Payment</h2>
{% endblock %}
{% block content %}
<script src="https://unpkg.com/intasend-inlinejs-sdk@3.0.4/build/intasend-inline.js"></script>
<div class="payment">
<form action="/payment" >
    <label for="name">Name</label>
    <p class="ouput">{{name}}</p> 

<label for="amount">Amount to be Paid</label>
<p class="output">{{amount}}</p>

<label for="amount">Vehicle</label>
<p class="output">{{vehicle}}</p>
</form>
<button class="intaSendPayButton" data-amount="10" data-currency="KES">Pay Now</button>
</div>
<script>
    new window.IntaSend({
        publicAPIKey: "ISPubKey_test_9f29c616-c01a-4cc3-b46f-6cb00a5b84c2",
        live: false // set to true when going live
    })
    .on("COMPLETE", (results) => {
        window.location.href = "{{ url_for('payment.rating') }}";
        localStorage.setItem('results', JSON.stringify(results));
    })
    .on("FAILED", (results) => {
        window.location.href = "{{ url_for('payment.payment') }}";
        
    })
    .on("IN-PROGRESS", (results) => {
        console.log("Payment in progress status", results);
    })
    </script>
    


<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/payment.css')}}">

{% endblock %}