{% extends 'base.html' %}
{% block title %}
<h2>Receipt</h2>
{% endblock %}
{% block content %}
<button onclick="downloadPDF()">Download</button>

<form class="data" style="margin-right: 70%;">
<label for="">Thank you :</label>
<p class="output">{{user_name}}</p>
<label for="">For:</label>
<p class="output">{{service}}</p>
<label for="">Vehicle</label>
<p class="output">{{vehicle}}</p>
<label for="">On :</label>
<p class="output">{{on}}</p>
<label for="">At :</label>
<p class="output">{{at}}</p>
<label for="">From :</label>
<p class="output">{{pickup}}</p>
<label for=""> To :</label>
<p class="output">{{destination}}</p>
<label for="">You paid :</label>
<p class="output">{{amount}}</p>

</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script type="text/javascript">

        
  function downloadPDF() {
    var tabText = document.querySelector('.data').outerHTML;
    var filename = 'SmartTravel/receipt.html';
    
    var downloadLink = document.createElement("a");
    var blob = new Blob([tabText], {type: "text/html"});
    var url = URL.createObjectURL(blob);
    
    downloadLink.href = url;
    downloadLink.download = filename;
    document.body.appendChild(downloadLink);
    downloadLink.click();
    document.body.removeChild(downloadLink);
  }
  
        </script>
  
{% endblock %}h