{% extends 'base.html' %}
{% block title %}
<h2>Profile</h2>
{% endblock %}
{% block content %}

<form action="/profile/vehicle/edit" method="post">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="">Change Color</label>
    <input type="text" name="color" value="{{color}}">
    <label for="">Capacity</label>
    <input type="email" name="capacity" id="capacity" value="{{capacity}}">
    <label for="">Service</label>
    <select name="service_type" id="service_type">
        <option value="taxi">Taxi</option>
        <option value="bus">Bus</option>
        <option value="hybrid">Hybrid</option>
    <label for="">fare</label>
    <input type="number" name="fare" id="" value="{{fare}}">
    <label for="hire_cost">Hire Cost</label>
    <input type="number" name="hire_cost" id="" value="{{hire_cost}}">
   
    
    {% if error %}
    <span>{{error}}</span>
    {% endif %}
    
    <button type="submit">Save</button>

</form>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/profile.css')}}">
{% endblock %}