{% extends 'base.html' %}
{% block title %}
<h2>Profile</h2>
{% endblock %}
{% block content %}





<form action="/profile/rider" method="get">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <a href="{{url_for('profile.edit_profile')}}" class="a-form"> edit profile</a>
    <label for="username">Username</label>
    <p class="output">{{user_name}}</p>
    <label for="">Names</label>
    <p class="output">{{first_name}}  {{other_name}}</p>
    <label for="email">Email</label>
    <p class="output">{{email}}</p>
    <label for="phone_number">Phone Number</label>
    <p class="output">{{phone_number}}</p>
    <label for="address">Address</label>
    <p class="output">{{address}}</p>
    <label for="">Card</label>
    <p class="output">{{card}}</p>
    

</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


   
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/profile.css')}}">

{% endblock %}