{% extends 'base.html' %}
{% block title %}
<h2>Passengers</h2>
{% endblock %}
{% block content %}
<div class="home">
<form action="book/passengers" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="vehicle">vehicle</label>
    <p>{{plate}}</p>
    <label for="passenger">{{passenger_name}}</label>
    <label for="seats">{{seat}}</label>
    <input type="number" name="no_of_seats">
    <label for="destination">destination</label>
    <input type="text">
    <label for="pickup">Pickup up point</label>
    <input type="text">

</form>
</div>
{% endblock %}