{% extends 'base.html' %}
{% block title %}

<h2>Profile</h2>
{% endblock %}
{% block content %}

    <form action="/profile/driver" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <label for="destination" id="destination_name" >Destination</label>
        <input type="text" name="destination" id="destination" >
        <label class="switch">
            {% if docked %}
            <input type="checkbox" id="dockedCheckbox" name="docked" checked>
        {% else %}
            <input type="checkbox" id="dockedCheckbox" name="docked">
        {% endif %}
        <span class="slider round"></span>
        </label>
    {% if error%}
    <p>{{error}}</p>
    {% endif %}
        
        <p id="capacity_value"></p>
</form>


    <form action="">
    <label for="username">Username</label>
    <p class="output">{{user_name}}</p>
    <label for="">Name</label>
    <p class="output">{{first_name}}  {{other_name}}</p>
    <label for="email">Email</label>
    <p class="output">{{email}}</p>
    <label for="phone_number">Phone Number</label>
    <p class="output">{{phone_number}}</p>
    <label for="address"><Address></Address></label>
    <p class="output">{{address}}</p>
    <label for="vehicle">Vehicle</label>
    <p class="output">{{vehicle_no}}</p>
    <a href="{{url_for('profile.edit_profile')}}" class="a-form"> edit profile</a>
        
        <a href="riders"><button type="button" class="a-form">Current passengers</button></a>
        <a href="{{url_for('profile.edit_profile')}}" class="a-form"> edit profile</a>
    </form>

    

   


<script src="https://cdn.jsdelivr.net/npm/axios@0.24.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

    function toggleDestinationField(checked) {
        var destination = document.getElementById('destination');
        
        
        if (checked) {
            
            var csrfToken = document.querySelector('meta[name=csrf-token]').content;

  // Create a new FormData object
            var formData = new FormData();
            formData.append("destination", destination.value);
            formData.append("is_docked", dockedCheckbox.checked ? 'on' : '');
            formData.append("csrf_token", csrfToken); // Include the CSRF token as a form field

            // Send the location data to the Flask route using axios
            axios({
                method: 'post',
                url: '/profile/driver',
                data: formData,
                headers: {
                'Content-Type': 'multipart/form-data'
                }
            })
            .then(function (response) {
                console.log("Docking sent successfully.");
            })
            .catch(function (error) {
                console.log("Error sending docking:", error);
            });
        } 
        else{
            var csrfToken = document.querySelector('meta[name=csrf-token]').content;

// Create a new FormData object
          var formData = new FormData();
          formData.append("is_docked", '');
          formData.append("csrf_token", csrfToken); // Include the CSRF token as a form field

          // Send the location data to the Flask route using axios
          axios({
              method: 'post',
              url: '/profile/driver',
              data: formData,
              headers: {
              'Content-Type': 'multipart/form-data'
              }
          })
          .then(function (response) {
              console.log("Docking sent successfully.");
          })
          .catch(function (error) {
              console.log("Error sending docking:", error);
          });
      } 

        }
        
    
        // Get a reference to the checkbox element
        const dockedCheckbox = document.querySelector('#dockedCheckbox');

// Add an event listener to the checkbox that calls the toggleDestinationField function when the checkbox is changed
dockedCheckbox.addEventListener('change', (event) => {
  toggleDestinationField(event.target.checked);
});
</script>

<script>

// Function to update the capacity on the page
function updateCapacity() {
  // Send a GET request to the /profile/driver route
  axios.get('/profile/driver/capacity')
    .then(response => {
      // Get the current capacity from the response
      const capacity = response.data.capacity;

      // Get the element that displays the current capacity
      const capacityElement = document.querySelector('#capacity_value');

      // Update the element with the new capacity
      capacityElement.textContent = `Current capacity: ${capacity}`;
    });
}

// Update the capacity every 60 seconds
setInterval(updateCapacity, 5000);
</script>




<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/profile.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/switch.css')}}">
{% endblock %}