{% extends 'base.html' %}
{% block title %}
<h2>Profile</h2>
{% endblock %}
{% block content %}

   <form action="/profile/driver/set_destination" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="destination">Destination</label>
    <input type="text" name="destination" id="destination">
    <button type="submit">Next</button>

</form>


<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/profile.css')}}">
{% endblock %}