{% extends 'base.html' %}
{% block title %}
<h1>Registration </h1>
{% endblock %}
{% block content %}
<div class="home">
<h2>Pick a username</h2>
<form action="registration/username" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="username">Enter username</label>
    <input type="text" name="user_name">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="">
    <label for="other_name">Other Name</label>
    <input type="text" name="other_name" id="">
    <label for="email">Email</label>
    <input type="email" name="email">
   
    <button type="submit">submit</button>
</form>
</div>
{% endblock %}