{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}
<div class="home">
<h2>Reset password</h2>
<form action="/registration/reset_password" method="post" onsubmit="return validateForm()">
    <label for="password">Enter new password</label>
    <input type="password" name="" id="">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="" id="">
    
    <button type="submit">Reset</button>
</form>
</div>


<script src="{{url_for('static',filename='js/confirm_password.js')}}"></script>
{% endblock %}