{% extends 'base.html' %}
{% block title %}
<h2>Registration</h2>
{% endblock %}
{% block content %}
<div class="home">

<form action="/registration/rider" method="post" onsubmit="return validateForm()">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="user_name">user_name</label>
    <input type="text" name="user_name" value="{{user_name}}">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="" value="{{first_name}}">
    <label for="other_name">Other Name</label>
    <input type="text" name="other_name" id="" value="{{other_name}}">
    <label for="email">Email</label>
    <input type="email" name="email" value="{{email}}">


    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm_password">
    
    {% if error %}
    <p class="alert">{{error}}</p>
    {% endif %}
    <label for="">Register as Driver?</label>
    <input type="checkbox" name="driver" id="" value="yes">

    <button type="submit">Register</button>
</form>
</div>

<script src="{{url_for('static',filename='js/confirm_password.js')}}"></script>



{% endblock %}
