{% extends 'base.html' %}
{% block title %}
<h2>Driver Registration</h2>
{% endblock %}
{% block content %}
<div class="home">

<form action="/registration/driver" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="form-name" value="user">
    
    <label for="phone_no">Phone no</label>
    <input type="text" name="phone_no" id="">
    <label for="license">License or Id No</label>
    <input type="text" name="license_no" id="license_no">
    

    <button type="submit">Proceed</button>
    
{% if error %}
<p class="alert">{{error}}</p>
{% endif %}
</form>
</div>
{% endblock %}