{% extends 'base.html' %}
{% block title %}
<h2>History</h2>
{% endblock %}
{% block content %}



{% if current_user.check_if_driver() %}

<a class="a-free" href="{{url_for('report.vehicle_transactions')}}">Transaction History</a>

<a class="a-free" href="{{url_for('report.vehicle_bookings')}}">Booking history</a>

{% else %}
<a class="a-free" href="{{url_for('report.booking_history')}}">Booking history</a>



<a class="a-free" href="{{url_for('report.transaction_history')}}">Transaction History</a>
{% endif %}

{% endblock %}