{% extends 'base.html' %}
{% block title %}
<h2>Transaction Details</h2>
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/my_reports.css')}}">
<button onclick="hideDates()" id="date_hide">Date Options</button>
        
            <button onclick="downloadPDF()" id="download">Download</button>
            
            


<form class="date_filter" action="/report/vehicle_transactions" method="post" id="date_options">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div>
  <label for="date">Date</label>
  <input type="date" name="date" id="date">
  <button name="button_name" value="date_filter">Filter By date</button>
</div>
  <div>
  <label for="date">Month</label>
  <select name="month" id="month">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>
  
  <button name="button_name" value="month_filter">Filter By Month</button>
</div>
  <div>
  <label for="year">Enter Year</label>
  <select name="year" id="year" type="number">
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    
  </select>
  <button name="button_name" value="year_filter" >Filter By Year</button>
</div>

<div>
  <button name="button_name" value="week_filter">Last 1 week</button>
</div>
</form>




<form class="sidebar" method="post" action="/report/vehicle_transactions" >
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label for="">Summary Options</label>
  <select name="button_name" >
    <option value="all">All Details</option>
    <option value="id">Transaction ID</option>
    <option value="user_name">User Name</option>
    <option value="amount">Amount</option>
    <option value="rating">Rating</option>
    <option value="date">Date</option>
    <option value="paid_at">Time</option>
    <option value="payment_type">Paid With</option>
    <option value="status">Transaction Status</option>
    <option value="card_number">Card/Phone Number</option>
  </select>

    <button type="submit">Summary</button>
</form>    
  
    
                                                       
  <form class="table">

    <label for="">SmartTravel/transactions/vehicle</label>
    <div class="earnings">
      <p class="output">Total earning :{{total}}</p>
      <p class="output">Pending earning : {{pending}}</p>
      <p class="output">Balamce : {{balance}}</p>
      </div>
{% if data is none %}
<p>No transactions have been made</p>
{% elif data is iterable and data|length >0 %}
{% if query=='all' %}

<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      <th>User Name</th>
      <th>Amount</th>
      <th>Address</th>
      <th>Time</th>
      <th>Date</th>
      <th>Paid With</th>
      <th>Vehicle No Plate</th>
      <th>Transaction Status</th>
      <th>Booking Type</th>
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.user_name }}</td>
      <td>{{ entry.amount }}</td>
      <td>{{ entry.address }}</td>
      <td>{{ entry.time }}</td>
      <td>{{ entry.date }}</td>
      <td>{{ entry.paid_with }}</td>
      <td>{{ entry.vehicle_no_plate }}</td>
      <td>{{ entry.transaction_status }}</td>
      <td>{{ entry.booking_type }}</td>
  </tr>
  {% endfor %}
</table>

{% elif query=='id' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      
      <th>Transaction Status</th>
     
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
     
      <td>{{ entry.transaction_status }}</td>
      
  </tr>
  {% endfor %}
</table>

{% elif query=='user_name' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      
      <th>User Name</th>
     
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
     
      <td>{{entry.user_name}}</td>
      
  </tr>
  {% endfor %}
</table>

{% elif query=='amount' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      
      <th>Amount</th>
     
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
     
      <td>{{entry.amount}}</td>
      
  </tr>
  {% endfor %}
</table>

{% elif query=='rating' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      
      <th>Rating</th>
     
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
     
      <td>{{entry.rating}}</td>
      
  </tr>
  {% endfor %}
</table>

{% elif query=='date' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      
      <th>Date Paid</th>
     
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
     
      <td>{{entry.paid_at}}</td>
      
  </tr>
  {% endfor %}
</table>

{% elif query=='paid_at' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      
      <th>Time Paid</th>
     
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
     
      <td>{{entry.time}}</td>
      
  </tr>
  {% endfor %}
</table>

{% elif query=='payment_type' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      
      <th>Payment Type</th>
     
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
     
      <td>{{entry.payment_type}}</td>
      
  </tr>
  {% endfor %}
</table>


{% elif query=='status' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      
      <th>Status</th>
     
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
     
      <td>{{entry.status}}</td>
      
  </tr>
  {% endfor %}
</table>

{% elif query=='card_number' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      
      <th>Card Number</th>
     
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
     
      <td>{{entry.card_number}}</td>
      
  </tr>
  {% endfor %}
</table>


{% elif query=='month_filter' %}

<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      <th>User Name</th>
      <th>Amount</th>
      <th>Address</th>
      <th>Time</th>
      <th>Date</th>
      <th>Paid With</th>
      <th>Vehicle No Plate</th>
      <th>Transaction Status</th>
      <th>Booking Type</th>
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.user_name }}</td>
      <td>{{ entry.amount }}</td>
      <td>{{ entry.address }}</td>
      <td>{{ entry.time }}</td>
      <td>{{ entry.date }}</td>
      <td>{{ entry.paid_with }}</td>
      <td>{{ entry.vehicle_no_plate }}</td>
      <td>{{ entry.transaction_status }}</td>
      <td>{{ entry.booking_type }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='year_filter' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      <th>User Name</th>
      <th>Amount</th>
      <th>Address</th>
      <th>Time</th>
      <th>Date</th>
      <th>Paid With</th>
      <th>Vehicle No Plate</th>
      <th>Transaction Status</th>
      <th>Booking Type</th>
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.user_name }}</td>
      <td>{{ entry.amount }}</td>
      <td>{{ entry.address }}</td>
      <td>{{ entry.time }}</td>
      <td>{{ entry.date }}</td>
      <td>{{ entry.paid_with }}</td>
      <td>{{ entry.vehicle_no_plate }}</td>
      <td>{{ entry.transaction_status }}</td>
      <td>{{ entry.booking_type }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='date_filter' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      <th>User Name</th>
      <th>Amount</th>
      <th>Address</th>
      <th>Time</th>
      <th>Date</th>
      <th>Paid With</th>
      <th>Vehicle No Plate</th>
      <th>Transaction Status</th>
      <th>Booking Type</th>
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.user_name }}</td>
      <td>{{ entry.amount }}</td>
      <td>{{ entry.address }}</td>
      <td>{{ entry.time }}</td>
      <td>{{ entry.date }}</td>
      <td>{{ entry.paid_with }}</td>
      <td>{{ entry.vehicle_no_plate }}</td>
      <td>{{ entry.transaction_status }}</td>
      <td>{{ entry.booking_type }}</td>
  </tr>
  {% endfor %}
</table>
{% elif query=='week_filter' %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      <th>User Name</th>
      <th>Amount</th>
      <th>Address</th>
      <th>Time</th>
      <th>Date</th>
      <th>Paid With</th>
      <th>Vehicle No Plate</th>
      <th>Transaction Status</th>
      <th>Booking Type</th>
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.user_name }}</td>
      <td>{{ entry.amount }}</td>
      <td>{{ entry.address }}</td>
      <td>{{ entry.time }}</td>
      <td>{{ entry.date }}</td>
      <td>{{ entry.paid_with }}</td>
      <td>{{ entry.vehicle_no_plate }}</td>
      <td>{{ entry.transaction_status }}</td>
      <td>{{ entry.booking_type }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
<table name="table"  border="1">
  <tr>
      <th>Booking ID</th>
      <th>User Name</th>
      <th>Amount</th>
      <th>Address</th>
      <th>Time</th>
      <th>Date</th>
      <th>Paid With</th>
      <th>Vehicle No Plate</th>
      <th>Transaction Status</th>
      <th>Booking Type</th>
  </tr>
  
  {% for entry in data %}
  <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.user_name }}</td>
      <td>{{ entry.amount }}</td>
      <td>{{ entry.address }}</td>
      <td>{{ entry.time }}</td>
      <td>{{ entry.date }}</td>
      <td>{{ entry.paid_with }}</td>
      <td>{{ entry.vehicle_no_plate }}</td>
      <td>{{ entry.transaction_status }}</td>
      <td>{{ entry.booking_type }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% else %}
<p>No transactions have been made</p>
{% endif %}

</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

<script type="text/javascript">

        
  function downloadPDF() {
    var tabText = document.querySelector('.table').outerHTML;
    var filename = 'SmartTravel.html';
    
    var downloadLink = document.createElement("a");
    var blob = new Blob([tabText], {type: "text/html"});
    var url = URL.createObjectURL(blob);
    
    downloadLink.href = url;
    downloadLink.download = filename;
    document.body.appendChild(downloadLink);
    downloadLink.click();
    document.body.removeChild(downloadLink);
  }
  
        </script>
  

      
              <script>
      
                function hideDates() {
                  var elem = document.getElementById("date_options");
                  if (elem.classList.contains("date_filter")) {
                    elem.classList.remove("date_filter");
                    elem.classList.add("date_hide");
                  } else {
                    elem.classList.remove("date_hide");
                    elem.classList.add("date_filter");
                  }
                }
                
                        </script>
{% endblock %}